@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-grow {
    @apply whitespace-nowrap inline-flex items-center justify-center px-4 py-2 shadow-md border border-transparent rounded-md shadow-sm text-base font-medium text-white transition duration-500 ease-in-out bg-indigo-600 hover:bg-yellow-500 transform hover:-translate-y-1 hover:scale-110;
  }
}

.remark-code-title {
  @apply px-5 py-3 font-mono text-sm font-bold text-gray-200 bg-gray-700 rounded-t;
}

.remark-code-title + pre {
  @apply mt-0 rounded-t-none;
}

.task-list-item:before {
  @apply hidden;
}

html {
  scroll-behavior: smooth;
}
